<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BookingUni</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div id="container">
        <div>
            {{!-- <div class="notification loadingBox">
                Loading …
            </div> --}}
            
            {{!-- <div class="notification infoBox">
                <span>{{info}}</span>
            </div> --}}
            
            {{#if error}}
            <div class="notification errorBox">
                <span>{{error}}</span>
            </div>
            {{/if}}
        </div>

    <div id="container">
        <nav>            
            <div class="left-container">
                <ul>
                    <li><a href="/">Home</a></li>
                    {{#unless user}}
                        <li><a href="/auth/login">Login</a></li>
                        <li><a href="/auth/register">Register</a></li>
                    {{else}}
                        <li><a href="/hotel/create">Add +</a></li>
                    {{/unless}}
                </ul>
            </div>
            {{#if user}}
            <div class="right-container">                
                <a href="/auth/{{user._id}}" class="log-out">Hello, {{user.username}}</a>               
                <a href="/auth/logout" class="log-out">Logout</a>                
            </div>
            {{/if}}
            
        </nav>

        {{{body}}}

        <footer>JS Back-end - Booking</footer>
    </div>

</body>

</html>